#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#wrapper > div {
  border-radius: 2rem;
  box-shadow: 0px 0px 4px 0px;
  width: 50%;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  #wrapper > div {
    width: 100%;
    margin: 1rem;
  }
}

#wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
}

#wrapper li {
  padding: 1rem;
}

#wrapper li:nth-child(odd) {
  background-color: #2965f1;
}

#wrapper li:nth-child(even) {
  background-color: #ebebeb;
}
